In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(15)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Leshukonskoye,RU,2022-04-21 03:42:01,64.8989,45.7622,25.72,82,20,2.46
1,1,Awjilah,LY,2022-04-21 03:42:02,29.1081,21.2869,62.01,28,7,9.48
2,2,Hithadhoo,MV,2022-04-21 03:42:02,-0.6000,73.0833,82.98,69,70,5.08
3,3,Millinocket,US,2022-04-21 03:42:03,45.6573,-68.7098,37.51,60,0,4.61
4,4,Cape Town,ZA,2022-04-21 03:42:03,-33.9258,18.4232,63.91,93,75,4.00
5,5,Qaanaaq,GL,2022-04-21 03:42:04,77.4840,-69.3632,-10.34,88,98,7.63
6,6,Marzuq,YE,2022-04-21 03:42:04,14.4000,46.4667,72.66,15,0,4.52
7,7,Albany,US,2022-04-21 03:37:26,42.6001,-73.9662,37.92,72,14,2.37
8,8,Virden,US,2022-04-21 03:39:04,39.5009,-89.7679,51.67,93,100,16.53
9,9,Vardo,NO,2022-04-21 03:42:05,70.3705,31.1107,37.56,96,45,12.71
10,10,Atuona,PF,2022-04-21 03:42:05,-9.8000,-139.0333,79.16,76,20,16.67
11,11,Necochea,AR,2022-04-21 03:42:06,-38.5473,-58.7368,58.23,87,100,9.93
12,12,Galle,LK,2022-04-21 03:42:06,6.0367,80.2170,84.74,69,17,3.44
13,13,Grindavik,IS,2022-04-21 03:42:07,63.8424,-22.4338,46.35,93,75,6.91
14,14,Saint-Joseph,RE,2022-04-21 03:42:07,-21.3667,55.6167,75.58,81,41,5.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. For loop needed to replace negative temps
# with zero; heat maps will not plot negative temps. weights below changed to temps.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
        temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. SAME as above but using list comprehension.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=500, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hithadhoo,MV,2022-04-21 03:42:02,-0.6000,73.0833,82.98,69,70,5.08
10,10,Atuona,PF,2022-04-21 03:42:05,-9.8000,-139.0333,79.16,76,20,16.67
12,12,Galle,LK,2022-04-21 03:42:06,6.0367,80.2170,84.74,69,17,3.44
14,14,Saint-Joseph,RE,2022-04-21 03:42:07,-21.3667,55.6167,75.58,81,41,5.91
17,17,Noumea,NC,2022-04-21 03:42:08,-22.2763,166.4572,82.38,99,5,8.28
20,20,Souillac,MU,2022-04-21 03:42:10,-20.5167,57.5167,75.58,94,40,3.44
30,30,Chabahar,IR,2022-04-21 03:42:14,25.2919,60.6430,80.65,55,74,3.60
35,35,Hilo,US,2022-04-21 03:37:46,19.7297,-155.0900,76.73,73,40,10.36
41,41,Alvorada,BR,2022-04-21 03:43:19,-12.4800,-49.1247,75.92,69,44,2.33
47,47,Gushikawa,JP,2022-04-21 03:43:21,26.3544,127.8686,80.60,75,75,18.41

In [31]:
# check to see if there are null values. Alt use .count() or .isnull().sum() 
preferred_cities_df.notnull().sum()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Hithadhoo      MV     82.98  -0.6000   73.0833
10        Atuona      PF     79.16  -9.8000 -139.0333
12         Galle      LK     84.74   6.0367   80.2170
14  Saint-Joseph      RE     75.58 -21.3667   55.6167
17        Noumea      NC     82.38 -22.2763  166.4572
20      Souillac      MU     75.58 -20.5167   57.5167
30      Chabahar      IR     80.65  25.2919   60.6430
35          Hilo      US     76.73  19.7297 -155.0900
41      Alvorada      BR     75.92 -12.4800  -49.1247
47     Gushikawa      JP     80.60  26.3544  127.8686

In [33]:
# Set parameters to search for a hotel. radius in meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hithadhoo,MV,82.98,-0.6000,73.0833,Scoop Guest House
10,Atuona,PF,79.16,-9.8000,-139.0333,Villa Enata
12,Galle,LK,84.74,6.0367,80.2170,Amangalla
14,Saint-Joseph,RE,75.58,-21.3667,55.6167,"""Plantation Bed and Breakfast"
17,Noumea,NC,82.38,-22.2763,166.4572,Hôtel Le Lagon
20,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
30,Chabahar,IR,80.65,25.2919,60.6430,هتل گدروشیا
35,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
41,Alvorada,BR,75.92,-12.4800,-49.1247,Cristal Plaza Hotel
47,Gushikawa,JP,80.60,26.3544,127.8686,Kirari Guest House
58,Rikitea,PF,79.07,-23.1203,-134.9692,People ThankYou
59,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
60,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
61,Tiarei,PF,84.00,-17.5333,-149.3333,Le Rocher de Tahiti
65,Carnarvon,AU,82.47,-24.8667,113.6333,Hospitality Carnarvon

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
=